{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Boutique Project{% endblock %}

{% block content %}
    <h2>Je passe ma commande</h2>
    <p> CHoisisser vos préferences avant de passer votre commande </p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            {% set formHtml %}
                {{ form_start(form,{action:path('order_recap')}) }}
                    {{ form_label(form.addresses,'Choisissez votre livraison :') }}
                    <a href="{{path('account_address_add')}}" >Ajouter une nouvelle adresse</a>
                {{ form_end(form) }}
            {% endset %}
            {{ formHtml|replace({'[br]' : '<br>'})|raw }}
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Recape de ma commande</b>
                <p>Retrouvez le récapitulatif de vos produits.</p>
            </div>
            <div class="order-summary">
                {% for item in cart %}
                    <div class="row {% if item >0 %}mt-2{% endif %} ">
                        <div class="col-md-3">
                            <img src="/uploads/{{ item.product.illustration }}" alt="{{ item.product.name }}" class="img-thumbnail rounded mx-auto d-block" style=" height: 75px; ">
                        </div>
                        <div class="col-md-7 my-auto">
                            {{ item.product.name }}<br>
                            <small>{{ item.product.subtitle }}</small>
                        </div>
                        <div class="col-md-2 my-auto">
                            x {{ item.quantity }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
